include README.txt
include LICENSE
recursive-include dpl1_main/testing_app/templates/testing_app *.html
recursive-include dpl1_main/testing_app/fixtures *.json
recursive-include dpl1_main *.py
recursive-include dpl1_main/testing_app *.py
recursive-include dpl1_main/DPL1 *.py
recursive-include dpl1_main *.sqlite3
recursive-include dpl1_main/testing_app/static/testing_app/admin/css *.css
recursive-include dpl1_main/testing_app/static/testing_app/admin/img *.gif *.png
recursive-include dpl1_main/testing_app/static/testing_app/admin/img/gis *.png
recursive-include dpl1_main/testing_app/static/testing_app/admin/js *.js
recursive-include dpl1_main/testing_app/static/testing_app/admin/js/admin *.js
recursive-include dpl1_main/testing_app/static/testing_app/admin/js/admin *.js