<h1> Welcome to the awesomest testing site </h1>
<h2> hold on... you're about to shit your self in your pantz</h2>
<h3> ...i should really put the above stuff into a parent template or smth</h3>
</br>
</br>

<form method="post" action="/tests/{{ test_id }}/{{ next_page_id }}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.submittable %}
        <input type="submit" value="Submit answers">
    {% else %}
        It seems this test was not yet configured
        (doesn't have any questions assigned).</br>
        <a href="{{ parent_url }}">Go back</a>
    {% endif %}
</form>

