<h1> Welcome to the awesomest testing site </h1>
<h2> hold on... you're about to shit your self in your pantz</h2>
</br>
</br>
<table>
    {% for test in tests %}
        <tr>
            <td>
                {% if test.is_available %}
                    <a href="{% url 'pages' test_id=test.id page_id=test.first_page %}">{{ test }}</a>
                {% else %}
                    {{ test }} - Not available yet
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>

{% if page.has_previous %}
    <a href="{% url 'testing_app' %}?previous_page=true">Previous</a>
{% endif %}
{% if page.has_next %}
    <a href="{% url 'testing_app' %}?next_page=true">Next</a>
{% endif %}
